[submodule "obsidian-ramen-client"]
	path = obsidian-ramen-client
	url = https://github.com/project-ramen/obsidian
[submodule "server"]
	path = server
	url = https://github.com/project-ramen/server
[submodule "web"]
	path = web
	url = https://github.com/project-ramen/web
